*

    margin: 0
    padding: 0
    box-sizing: border-box
    

body
    
    height: 100vh
    font-family: sans-serif
    //background:linear-gradient(#12462b,#064ea5)
    



#contenedor-padre
    height: 100vh
    display: flex
    flex-direction: column
    padding: 100px 30px
    //border: 2px solid red
  


#seccion-introducir
    display: flex
    flex-direction: column
   
    

    h1
        text-align: center
        text-shadow: 4px 4px 4px rgba(0, 0, 0, .44)

    p
        margin: 30px 0
        text-align: center
        letter-spacing: 1px
        opacity: 0.6

    

    #div-input
        height: 40px
      
        display: flex
        flex-direction: row
        justify-content: space-between
        //border: 2px solid red 


        input
            width:85%
            border-radius: 8px
            border: none
            height: 100%
            outline: none
            border: 2px solid #22BF6B
            border-radius: 4px
            padding: 0 10px
            gap: 10px


        button 
            width: 11%
            height: 100%
            border: none
            border-radius: 4px
            font-size: 20px
            background-color: #22BF6B
            color: white
            cursor: pointer

#seccionMostrarDatos
    display: none
    flex-direction: column
    width: 100%
    height: 100%
    // border: 2px solid black
    justify-content: center
    align-items: center
    

    #div-mostrar-datos
        display: flex
        //border: 2px solid red
        width: 80%
        aspect-ratio: 1/1
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .4)
        border-radius: 8px
        padding: 20px
        flex-direction: column
        
        
        
    
         



#volver
    width: 30%
    height: 10%
    border: none
    border-radius: 4px
    font-size: 20px
    background-color: #22BF6B
    color: white
    cursor: pointer
    margin-top: 20px
    letter-spacing: 2px

    